[Desktop Entry]
Name=mpdqmlplasmoid
Name[ast]=mpdqmlplasmoid
Name[bg]=mpdqmlplasmoid
Name[bs]=mpdqmlplasmoid
Name[ca]=mpdqmlplasmoid
Name[ca@valencia]=mpdqmlplasmoid
Name[cs]=mpdqmlplasmoid
Name[da]=mpdqmlplasmoid
Name[de]=mpdqmlplasmoid
Name[el]=mpdqmlplasmoid
Name[en_GB]=mpdqmlplasmoid
Name[eo]=mpdqmlplasmoid
Name[es]=mpdqmlplasmoid
Name[et]=mpdqmlplasmoid
Name[fi]=mpdqmlplasmoid
Name[fr]=mpdqmlplasmoid
Name[ga]=mpdqmlplasmoid
Name[gl]=mpdqmlplasmoid
Name[hu]=mpdqmlplasmoid
Name[it]=mpdqmlplasmoid
Name[ja]=mpdqmlplasmoid
Name[kk]=mpdqmlplasmoid
Name[km]=mpdqmlplasmoid
Name[ko]=mpdqmlplasmoid
Name[lv]=mpdqmlplasmoid
Name[nb]=mpdqmlplasmoid
Name[nds]=mpdqmlplasmoid
Name[nl]=mpdqmlplasmoid
Name[nn]=mpdqmlplasmoid
Name[pa]=mpdqmlplasmoid
Name[pl]=mpdqmlplasmoid
Name[pt]=mpdqmlplasmoid
Name[pt_BR]=mpdqmlplasmoid
Name[ro]=mpdqmlplasmoid
Name[ru]=mpdqmlplasmoid
Name[sq]=mpdqmlplasmoid
Name[sr]=mpdqmlplasmoid
Name[sr@ijekavian]=mpdqmlplasmoid
Name[sr@ijekavianlatin]=mpdqmlplasmoid
Name[sr@latin]=mpdqmlplasmoid
Name[sv]=mpdqmlplasmoid
Name[tr]=mpdqmlplasmoid
Name[ug]=mpdqmlplasmoid
Name[uk]=mpdqmlplasmoid
Name[x-test]=xxmpdqmlplasmoidxx
Name[zh_CN]=mpdqmlplasmoid
Name[zh_TW]=mpdqmlplasmoid
Comment=Plasma mpdqmlplasmoid
Comment[ast]=Plasma mpdqmlplasmoid
Comment[bs]=Plazma mpdqmlplasmoid
Comment[ca]=Plasma mpdqmlplasmoid
Comment[ca@valencia]=Plasma mpdqmlplasmoid
Comment[cs]=Plasma mpdqmlplasmoid
Comment[da]=Plasma mpdqmlplasmoid
Comment[de]=Plasma mpdqmlplasmoid
Comment[el]=Plasma mpdqmlplasmoid
Comment[en_GB]=Plasma mpdqmlplasmoid
Comment[eo]=Plasma mpdqmlplasmoid
Comment[es]=Plasma mpdqmlplasmoid
Comment[et]=Plasma mpdqmlplasmoid
Comment[fi]=Plasma mpdqmlplasmoid
Comment[fr]=Plasma mpdqmlplasmoid
Comment[ga]=Plasma mpdqmlplasmoid
Comment[gl]=Plasma mpdqmlplasmoid
Comment[hu]=Plasma mpdqmlplasmoid
Comment[it]=Plasma mpdqmlplasmoid
Comment[ja]=Plasma mpdqmlplasmoid
Comment[kk]=Plasma mpdqmlplasmoid
Comment[km]=ប្លាស្មា mpdqmlplasmoid
Comment[ko]=Plasma mpdqmlplasmoid
Comment[lv]=Plasma mpdqmlplasmoid
Comment[nb]=Plasma mpdqmlplasmoid
Comment[nds]=Plasma mpdqmlplasmoid
Comment[nl]=Plasma mpdqmlplasmoid
Comment[nn]=Plasma mpdqmlplasmoid
Comment[pa]=ਪਲਾਜ਼ਮਾ mpdqmlplasmoid
Comment[pl]=Plazma mpdqmlplasmoid
Comment[pt]=Plasma mpdqmlplasmoid
Comment[pt_BR]=Plasma mpdqmlplasmoid
Comment[ro]=Plasma mpdqmlplasmoid
Comment[ru]=Plasma mpdqmlplasmoid
Comment[sq]=Plasma mpdqmlplasmoid
Comment[sr]=Плазмин mpdqmlplasmoid
Comment[sr@ijekavian]=Плазмин mpdqmlplasmoid
Comment[sr@ijekavianlatin]=Plasmin mpdqmlplasmoid
Comment[sr@latin]=Plasmin mpdqmlplasmoid
Comment[sv]=Plasma mpdqmlplasmoid
Comment[tr]=Plasma mpdqmlplasmoid
Comment[uk]=Плазма mpdqmlplasmoid
Comment[x-test]=xxPlasma mpdqmlplasmoidxx
Comment[zh_CN]=Plasma mpdqmlplasmoid
Comment[zh_TW]=Plasma mpdqmlplasmoid
Type=Service

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_mpdqmlplasmoid
X-KDE-PluginInfo-Author=Hendrik Borghorst
X-KDE-PluginInfo-Email=hendrikborghorst@googlemail.com
X-KDE-PluginInfo-Name=mpdqmlplasmoid
X-KDE-PluginInfo-Version=1.0.0
X-KDE-PluginInfo-Website=http://kde-look.org/content/show.php/qmpdplasmoid?content=140412
X-KDE-PluginInfo-Category=Multimedia
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPLv3
X-KDE-PluginInfo-EnabledByDefault=true

